.suggestion {
    position: relative;
    text-decoration: none;
    border-radius: 3px;
}

.suggestion::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;

    width: 105%;
    min-width: 15px;
    height: 3px;
    border-radius: 4px;
}

.suggestion-1::after {
    background-color: orange;
}

.suggestion-2::after {
    background-color: red;
}

.suggestion-3::after {
    background-color: rgb(38, 121, 237);
}

.suggestion-active {
    background: rgba(255, 230, 120, 0.7);
    outline: 2px solid rgba(0, 0, 0, 0.25);
}